$animationTime: 150ms;

.modal {
  &__content {
    display: grid;
    place-items: center;

    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;

    width: 100vw !important;
    height: 100vh !important;

    opacity: 0;
    height: 0;

    transition: all $animationTime ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    > * {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1.2em;

      overflow-y: scroll;

      max-width: 720px;
      max-height: 80%;

      background-color: rgb(50, 50, 50);
      padding: 1rem 1.5rem 1.5rem;
      border-radius: 1rem;

    }
    &.open {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.66);
    }
  }
}
